@use "abstracts";
@import "abstracts";

.header__heading-container {
  background-image: url(../assets/images/coffee-circle.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  @include center-flex;
  &--heading {
    width: 300px;
    height: 200px;
    background-color: abstracts.$color-graphite;
    color: white;
    @include center-flex;
    border-radius: 3rem;
  }
}

.header__sub-nav {
  width: 100%;
  height: 80px;
  padding: 20px 0;
  background-color: abstracts.$color-graphite;
  text-align: center;
  margin-bottom: 2rem;
  @include flex-on-spacing-choice(center);
  align-items: center;
  h2 {
    color: white;
    margin: 0;
    padding: 0 1.5rem;
    transition: 0.8s;
    border-left: 4px solid abstracts.$color-nitro-blue;
    &:hover {
      transform: scale(1.05);
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: abstracts.$color-nitro-blue;
      }
      &:visited {
        text-decoration: none;
      }
    }
  }

  @media (max-width: 1065px) {
    h2 {
      font-size: 3rem;
    }
  }
  @media (max-width: 900px) {
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    align-items: center;
    h2 {
      max-width: fit-content;
      border-left: none;
    }
    h2:nth-child(n + 2) {
      border-top: 4px solid abstracts.$color-nitro-blue;
    }
  }
}

.menu-content {
  text-align: center;

  &__category {
    background-color: abstracts.$color-nitro-pink;
    padding: 0 20% 0 20%;
    @media (max-width: 900px) {
      padding: 0 10% 0 10%;
    }
  }
  &__category:nth-of-type(even) {
    background-color: abstracts.$color-light-gray;
  }
}
